* {
	box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Bree Serif', serif;
  margin: 0;
}

p {
  margin-bottom: 1.25em;
}

.main-content {
  margin: 0 auto;

}


header {
  display: block;
  background: lightblue;
  color: white;
  padding: 0.5em 0;
  text-align: center;
  font-size: 1.5em;
}

nav {
  display: flex;
  background-color: lightgrey;
  padding: 0.5em 0 ;
  justify-content: space-around;

}

nav button {
  background: lightblue;
  border: none;
  color: #fff;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;

  display: grid;
  grid-gap: 2em;
  max-width: 1200px;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.article {
  padding: 1.5em;
  background: #f5f2ee;
  border-radius: 0.25em;
  box-shadow: ;
}

.article__author {
  position: relative;
}

.article__author__img {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.article__author__title {
  margin-left: 19%;
  margin-top: 0;
  margin-bottom: 0em;
}

.article__author__data {
  margin-left: 19%;
  margin-top: 0.5em;
}

.article__content__img {
  display: block;
  margin: 2em auto;

}

.article__btn {
  border: none;
  color: #fff;
  padding: .5em;
  border-radius: 0.25em;
}

.blue {
  background: #1b52b9;
}
.red {
  background: rgb(153, 33, 33);
}

.btn-loadMore {
  display: block;
  margin: 0 auto;

}